.luces-background {
  position: absolute;
  left: 0;
  top: 81%;
  width: 100%;
  height: 3%;
 

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(8, 129, 210);

  z-index: 4;
}

.luces {
  width: 2%;
  height: 80%;
  border-radius: 50%;
  background-color: gray;
}

.luces-fallado {
  background-color: red;
}

.luces-resuelto {
  animation: cambiarColores 2s infinite linear;
}

@keyframes cambiarColores {
  10%  { background-color: limegreen; }
  40%  { background-color: rgb(155, 245, 125); }
}
