.contenedor {
  position: relative;
  width: 100%;
  height: 100%;
}

.caseta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url("./images/images-fondo/caseta-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.tablero-central {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 15%;
  width: 67%;
  height: 47%;

  background-color: green;

  display: flex;
  flex-direction: column; 

  padding-top: 4%;
  padding-right: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0.5%;
  box-sizing: border-box;

  gap: 0.4%;
}


.fila {
  width: 100%;
  flex: 1;                 
  display: grid;
  grid-template-columns: repeat(var(--columnas), 1fr);
  gap: 0.4%;

  position: relative;
}

.fila-final {
  margin-top: 1%;  
  border-bottom: none;   
}

.fila::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 15%;
  background: linear-gradient(
    to bottom,
    yellow 2px,
    yellow 8px
  );
}

.fila-final {
  background-color: rgba(0,0,0,0.2);
}


.fila-final {
  flex: 1.2;
}

.fila-final::after {
  display: none;
}



.celda {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.celda-ultima-fila {
  background-image: url("./images/images-fondo/luz.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: arial black;
  font-size: 2vw;
}


